$break-xsmall: 426px
$break-small: 992px
$break-medium: 1024px
$break-large: 1200px
$full: 100%
$fix: -900

div#main
	position: relative
	animation-name: bg-animation
	animation-duration: 8s
	animation-timing-function: linear
	animation-iteration-count: infinite
	overflow-x: hidden
	@media screen and (max-width: $break-small)
		padding: 50px
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: 0
		height: 100%
		width: 100%
		background-color: rgba(0,0,0,0.6)
		animation-name: bg-color-animation
		animation-duration: 8s
		animation-timing-function: linear
		animation-iteration-count: infinite
	.content-section
		margin: 100px 0
		@media screen and (max-width: $break-small)
			margin: 0

div.slider_wrapper
	margin: 0 auto
	padding: 0px
	margin-top: 0px
	margin-bottom: 0px
	div.layers
		padding: 0 100px
		display: inline-block
		position: relative
		z-index: 11
		@media screen and (max-width: $break-small)
      		width: 100%
      		padding: 0
      		text-align: center !important

div button.booknow
	background-color: white
	color: rgb(128, 10, 10)
	border: 2px solid rgb(128, 10, 10)
	padding: 10px 15px
	text-transform: uppercase
	font-weight: 600

div button.booknow:hover
	color: black
	border-color: transparent


div.truck_image
	position: relative
	height: 112px
	@media screen and (max-width: $break-small)
		height: 56px
	img
		animation-name: slidein
		animation-timing-function: linear
		animation-duration: 1.5s
		position: absolute
		max-width: 300px
		height: 112px
		top: 0
		bottom: 0
		left: 20px
		margin: auto
		@media screen and (max-width: $break-small)
			max-width: 261px
			height: 81px
		@media screen and (max-width: $break-xsmall)
			max-width: 160px
			height: 50px

div.animated-text h1
	font-weight: 700
	font-size: 50px
	margin: 0px
	width: 100%
	overflow: hidden
	color: #ffffff
	@media screen and (max-width: $break-medium)
		font-size: 30px
	@media screen and (max-width: $break-small)
		text-align: center !important
		font-size: 25px
	@media screen and (max-width: $break-medium)
		font-size: 15px

div.animated-text h1
	span.latter
		float: none !important


div.animated-text p
	color: #ffffff
	font-size: 18px
	margin: 0
	overflow: hidden
	span
		color: #ffffff
		opacity: 0
		display: block
    	width: 100%
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
		transform: translateY(50px)
		animation-name: textAnimation
		animation-timing-function: linear
		animation-duration: 8s
		animation-iteration-count: infinite
		@media screen and (max-width: $break-small)
			text-align: center !important
			font-size: 15px
		@media screen and (max-width: $break-medium)
			font-size: 10px

div.animated-text-content
	margin: 50px 0


div.animated-text span.latter
	color: #ffffff
	opacity: 0
	display: inline-block
	float: left
	width: 100%
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
	transform: translateY(-50px)
	animation-name: titleAnimation
	animation-timing-function: linear
	animation-duration: 8s
	animation-iteration-count: infinite

@keyframes titleAnimation
  0% 
    transform: rotate(45deg) translateY(-150px)
    opacity: 1
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
  
  20% 
  	transform: rotate(0deg) translateY(0px)
    opacity: 1
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
  
  80% 
    transform: rotate(0deg) translateY(0px)
    opacity: 1
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
  
  100% 
    transform: rotate(0deg) translateY(150px)
    opacity: 0
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)

@keyframes textAnimation 
  0% 
    transform: translateY(50px)
    opacity: 0
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
  
  20% 
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
  
  80% 
    transform: translateY(0)
    opacity: 1
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
  
  100% 
    transform: translateY(50px)
    opacity: 0
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)

@keyframes slidein
	0%
		left: $full -$fix
	100%
		left: 20px
	
@keyframes bg-animation
	0%
		background-size: 100%
	100%
		background-size: 103%

@keyframes bg-color-animation
	0%
		background-color: rgba(0,0,0,1)
	30%
		background-color: rgba(0,0,0,0.6)
	89%
		background-color: rgba(0,0,0,0)
	90%, 91%
		background-color: rgba(0,0,0,0.3)
	92%, 93%
		background-color: rgba(0,0,0,0.5)
	94%, 95%
		background-color: rgba(0,0,0,0.7)
	96%, 97%
		background-color: rgba(0,0,0,0.9)
	98%, 100%
		background-color: rgba(0,0,0,1)