<div id="main" class="container-fluid" [ngStyle]="{'max-width':'1920px', 'height': '800px'}">
	<section class="content-section" [ngStyle]="{'max-width':'1920px', 'margin':'0 auto'}">
		<div class="slider_wrapper">
			<div class="layers" style="padding: 100px; width: 100%;">
				<div class="first-layer">
					<div class="truck_image">
						<img src="assets/check.png" alt="image">
					</div>
				</div>
				<div class="animated-text">
					<div id="slide_one">
						<div class="animated-text-content">
							<h1 id="title"></h1>
							<p style="text-transform: uppercase;"><span id="content"></span></p>
						</div>
						<button id="booknow" class="booknow"></button>
					</div>
				</div>
			</div>
			<app-home-navigation></app-home-navigation>
		</div>
	</section>
</div>