$break-small: 992px
$break-large: 1200px

div.homenavigation
  margin: 0
  @media screen and (min-width: $break-small)
    position: relative
    top: -130px
    bottom: 0
    left: 0
    right: 0
    margin: auto
    width: 100%

nav
  padding: 10px
  border: 2px solid gray
  background-color: rgba(128, 128, 128, 0.3)
  border-radius: 5px
  position: relative
  z-index: 11
  width: 1170px
  @media screen and (max-width: $break-small)
      padding: 0
      width: 100%
      margin: 0
      background-color: transparent
      border-radius: 0px
      border: none
  div.avd-search
    width: 100%
    z-index: 11
    background-color: #b881fc
    padding: 13px 15px 13px 25px
    color: #fff
    cursor: pointer
    font-size: 18px
    margin: 0px 0px 0px 0px
    font-weight: 700
    border-radius: 0
  ul
    margin: 0
    padding: 0
    list-style: none
    width: 100%
    @media screen and (max-width: $break-small)
      padding: 0 20px

  li
    display: inline-block
    margin: 0px
    padding: 0px 2px
    width: 25%
    position: relative
    @media screen and (max-width: $break-small)
      width: 100%
      margin: 5px 0

li .ngx-datepicker-container .ngx-datepicker-calendar-container .topbar-container
	background-color: #4d5567!important


input.form-control
	width: 100%!important

li #guest_no_drop:after, #guest_no_shortcode:after, #guest_no_mobile:after, #booking_guest_no_wrapper:after, #guest_no_widget:after, #guest_no:after
    content: " "
    position: absolute
    top: 10px
    left: -3px
    width: 20px
    height: 20px
    background-repeat: no-repeat

ng-datepicker .ngx-datepicker-container input
  padding: 5px 0 0 30px !important

ng-datepicker[ng-reflect-is-disabled="true"]
  cursor: not-allowed

ng-datepicker .ngx-datepicker-container i
  position: absolute !important
  top: 10px !important
  left: 10px !important

li.check-in
  position: relative

li.check-out
  position: relative

li button.search-btn
  background-color: #800a0a!important
  color: white

li button.search-btn:hover
  background-color: #999999!important


li .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-container .main-calendar-days .day-unit, .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-container .main-calendar-days .year-unit, .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-container .main-calendar-years .day-unit, .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-container .main-calendar-years .year-unit
  border-radius:50% !important
  color: #eee !important

li .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-container .main-calendar-days .day-unit:hover
  color: #bbb !important  