div.slider_wrapper
	margin: 0 auto
	padding: 0px
	margin-top: 0px
	margin-bottom: 0px

div button.getoffer
	background-color: white
	color: rgb(128, 10, 10)
	border: 2px solid rgb(128, 10, 10)
	padding: 10px 15px
	text-transform: uppercase
	font-weight: 600

div button.getoffer:hover
	color: black
	border: none
nav
  padding: 5px
  border: 2px solid gray
  background-color: gray
  border-radius: 5px	
  ul
    margin: 0
    padding: 0
    list-style: none

  li
    display: inline-block
    margin: auto 5px

li .ngx-datepicker-container .ngx-datepicker-calendar-container .topbar-container
	background-color: #4d5567!important;